@import url("https://fonts.googleapis.com/css?family=Ubuntu");

body {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    background-color: black;
}
a {
    color: whitesmoke;
}
.web {
    display: inline-block;
    width: 45%;
    box-shadow: 0 0 10px #fff;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.web-text {
    padding-left: 1em;
}
